@model Platform.Data.WebTerminal.Models.LinkModel
@{
    Layout = null;
    ViewBag.Title = TextHelpers.CapitalizeFirstLetter(Model.Link.ToString());
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/infinite/style.css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/infinite/script.js")

    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans&v1' rel='stylesheet' type='text/css'> -->
</head>
<body>
    <div id="query">
        <div id="query-logo">links</div>
        <input type="text" autocomplete="off" spellcheck="false" tabindex="0" />
    </div>
    <div id="surface">
        <ul>
            <li>
                <div class="item">
                    @Html.Partial("LinkDescription", Model.Link)
                </div>
                @Html.Partial("InfiniteLinkReferersList", Model.ReferersModels)
            </li>
        </ul>
    </div>
</body>
</html>
